body {
  margin: 0;
  padding: 0;
  /* width: 950px; */
  /* background: rgb(6, 35, 36); */
}

.image-data{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  overflow: hidden;
  

}

.image-card{
  margin: 0 auto;
  /* width: 300px; */
  /* height: 300px; */
  /* border: solid 2px black; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-gap: 2px; */
  box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75);
  
}

.image-card .img{
  
  position: relative;
  overflow: hidden;
}
.image-card .img img{
  max-width: 100%;
  height: 300px;
  transition: transform 2s;
}
.image-card .img:hover img{
  transform: scale(1.2);
}

.image-card .image-data-store{
  /* background-color: blanchedalmond; */
  padding: 10px;
}

.image-card .image-data-store > div:first-child {
  color: rgb(5, 5, 41);
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.image-card .image-data-store ul{
  list-style: none;
  font-size: 14px;

}

.image-card .image-data-store .tag{
  /* margin-bottom: 20px; */
}

.image-card .image-data-store .tag span{
  border: solid 1px #aaafff;
  border-radius: 50px;
  margin: 0 5px;
  padding: 1px 2px;
  overflow: hidden;
  /* color: white; */
  background-color: rgb(172, 201, 202);
}

.container .image-search{
  margin: 10px auto;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.container .image-search input[type=text]{
  text-align: left;
  width: 53%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
  /* border-radius: 4px; */
  /* box-sizing: border-box; */
}
button[type=submit] {
  width: 100px;
  background-color: #4CAF50;
  box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




